.api-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.api-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;

    .lead {
        font-size: 1rem;
    }
}

.api-table-container {
    width: 100%;
    overflow-x: auto;
}

.api-table {
    width: 100%;
    border-collapse: collapse;
}

.api-table--header {
    background-color: var(--surface-color);
}

.api-table--body {
    background-color: var(--background-color);
}

.api-table tr {
    border-bottom: 1px solid var(--border-color);
}

.api-table th,
.api-table td {
    padding: 10px;
    text-align: left;
}

/* Api table */
.api-table--actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.add-api-btn {
    width: 150px;
}