/* custom quiz page */
.custom-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  margin: 20px auto;
  max-width: 800px;
}

.number {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

/* quiz builder */
.custom-quiz .quiz-builder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  margin-top: 20px;

  .section-title {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .quiz-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;}
}


/* subjects */
.custom-quiz .subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 700px;
  margin: 20px auto;
  border: 1px solid #DBDEF0;
  border-radius: var(--radius-sm);
  padding: 20px;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: var(--radius-sm);
    padding: 5px 10px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    margin: auto;

    &:hover {
      scale: 1.05;

      transition: background-color 0.3s ease;
    }
  }
}

.custom-quiz .error {
  color: var(--danger-color);
  font-size: 12px;
  margin-block: 10px;
  font-weight: light;
}

/* quiz action */
.custom-quiz .quiz-action {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-block: 20px;
  padding: 10px;

  .error {
    color: var(--danger-color);
    font-size: 12px;
    font-weight: light;
  }
}

