:root {
  --primary-color: #4D5B9E;
  --secondary-color: #F5F7FB;

  --danger-color: #F24E1E;
  --success-color: #4BB543;

  --text-color: #293264;
  --link-color: #4D5B9E;

  --background-color: #F5F7FB;
  --surface-color: #F5F7FB;

  --hover-color: #3b4a8c;

  --border-radius: 10px;
  --border-color: #293264;
  /* --shadow: 0 4px 4px rgba(0, 0, 0, 0.1) */
}

[data-theme="dark"] {
  --primary-color: #4D5B9E;
  --secondary-color: #F5F7FB;
  --danger-color: #F24E1E;
  --success-color: #4BB543;
  --text-color: #F5F7FB;
  --link-color: #8BD3FF;

  --background-color: #293264;
  --surface-color: #060607;

  --hover-color: #BEE7FF;

  --border-radius: 10px;
  --border-color: #E0E0E0;
  /* --shadow: 0 4px 4px rgba(0, 0, 0, 0.1) */
}
