
.label {
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.input[type="radio"] {
  display: none;
}

.input[type="radio"]:checked + label {
  background-color: var(--success-color);
  border-color: var(--hover-color);
}

.input[type="radio"]:disabled + label {
  opacity: 0.65;
}
