.public-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: min(100%, 1280px);
  margin: auto;
  padding: 0 32px;
}

@media (max-width: 768px) {
  .public-layout {
    padding: 0 16px;
  }
}
