.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    flex-grow: 1;
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.burger-menu {
    width: 25px;
    height: 20px;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 20px;
    left: 20px;
}

.burger-menu .burger-bar {
    display: block;
    background-color: #ddd;
    border-radius: 2px;
    margin: 3px 0;
    height: 3px;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}