
.link {
  color: var(--link-color);
  text-decoration: none;
}

.error {
  color: rgb(249, 55, 55);
  font-size: 12px;
  margin-top: 10px;
  font-weight: light;
}

p.info {
  font-size: 12px;
  color: #4D5B9E;
  margin-top: 10px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: var(--link-color);
}

.link:hover {
    color: var(--hover-color);
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        background-color: var(--disabled-color);
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
    }
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &:disabled {
        background-color: var(--disabled-color);
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
    }
}
