/* root styles */
:root {
  --primary-color: #4D5B9E;
  --secondary-color: #F5F7FB;
  --danger-color: #F24E1E;
  --success-color: #4BB543;

  --text-color: #293264;
  --link-color: #4D5B9E;

  --background-color: #F5F7FB;
  --surface-color: #F5F7FB;

  --hover-color: #3b4a8c;

  --border-radius: 10px;
  /* --shadow: 0 4px 4px rgba(0, 0, 0, 0.1) */
}

[data-theme="dark"] {
  --primary-color: #4D5B9E;
  --secondary-color: #F5F7FB;
  --danger-color: #F24E1E;
  --success-color: #4BB543;
  --text-color: #F5F7FB;
  --link-color: #727892;

  --background-color: #293264;
  --surface-color: #3B4A8C;

  --hover-color: #3b4a8c;

  --border-radius: 10px;
  /* --shadow: 0 4px 4px rgba(0, 0, 0, 0.1) */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
 list-style: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}