.admin-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 0 auto;
    align-items: start;

    grid-template-areas:
        "sidebar header"
        "sidebar main";

    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);

}

@media (max-width: 768px) {
    .admin-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header"
            "main";
    }
}

.admin-sidebar {
    grid-area: sidebar;
}

.admin-header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    color: var(--header-text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

    position: sticky;
    top: 0;
}

.admin-main {
    grid-area: main;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 var(--background-color);
    flex: 1;
    height: 100vh;
    padding: 50px 20px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}